$gray: #6c757d;
$white: white;
$light-gray: #bdbdbd;
$title-first-color: #bdbdbd; //rgba(0,0,0,.85);//red; //orange
$default-font: "archia";
$title-span-color: #4c75f2;
$navbar-background: #1e1e30;


$blue: #007bff;
$blue-light: #007bff10;
$blue-hover: #007bff30;
$blue-light-opaque: #eff7ff;
$blue-mid: #007bff99;
$pblue: #4c75f2;
$pblue-light: #4c75f210;
$pblue-hover: #4c75f230;
$pblue-light-opaque: #eff7ff;
$pblue-mid: #4c75f299;
$cherry: #ff073a;
$cherry-mid: #ff073a99;
$cherry-light: #ff073a20;
$cherry-hover: #ff073a30;
$cherry-light-opaque: #ffe0e6;
$red: #dc3545;
$red-light: #dc354520;
$red-mid: #dc354599;
$red-hover: #dc354530;
$orange: #fd7e14;
$orange-mid: #fd7e1499;
$orange-light: #fd7e1420;
$orange-hover: #fd7e1430;
$orange-light-opaque: #ffefe2;
$yellow: #ffc107;
$yellow-light: #ffc10720;
$yellow-hover: #ffc10730;
$yellow-mid: #ffc10799;
$yellow-light-opaque: #fff7e0;
$green: #28a745;
$green-light: #28a74520;
$green-hover: #28a74530;
$green-mid: #28a74599;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-light: #6c757d10;
$gray-light-opaque: #f6f6f7;
$gray-hover: #6c757d20;
$gray-mid: #6c757d99;
$gray-dark: #343a40;
$gray-opaque: #f1f1f1;
$gray-hover-opaque: #edeeef;
$gray-hover-darker-opaque: #f6f6f7;
$light: #f8f9fa;
$dark: #343a40;
$purple: #201aa2dd;
$purple-light: #201aa220;
$purple-hover: #201aa230;
$purple-mid: #201aa299;
$purple-light-opaque: #e3e2f3;
$pink: #fb5581;
$pink-light: #ffa8cb30;
$pink-hover: #ffa8cb60;
$pink-mid: #fb558199;
$brown: #b6854d;
$brown-light: #b6854d10;
$brown-hover: #b6854d30;
$brown-mid: #b6854d99;
$brick: #e23028;
$brick-light: #e2302810;

// Dark mode variables
$dark-m-gray: #161625;
$dark-mid-subtext: #bdb8ae;
$dark-m-white: #e1e1e1;
$dark-m-purple: #7ba1ea;
$dark-m-blue: #3391ff;

$panel-width: 408px; 
$border-color: rgba(0, 0, 0, 0.3); //#DADCE0;

.about-wrapper {
    display: flex;
    width: calc(100% - 12px);
    padding-left: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #161625;
    border-top: 1px solid rgba(255,255,255,0.25);
    z-index: 99999;

    img {
        opacity: .75;
        cursor: pointer;
        margin-right: 6px;
    }

    a {
        align-self: flex-end;
        margin-bottom: 4px;
    }
}

.Home {
    margin-left: 0!important;
    margin-right: 0!important;

    .home-right {
        margin-left: 0!important;
        margin-right: 0!important;
    }
}

// Protruding left panel
.LeftPanel {
    // background-color: white;
    // background: $navbar-background; //$white;
    display: flex;
    width: $panel-width;
    min-width: $panel-width;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    justify-content: flex-start;
    position: relative; /* relative */ /* fixed */
    z-index: 999;
    align-items: center;
    // box-shadow: 0 0 20px $border-color;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    
    // padding-left: 12px;
    // padding-right: 6px;

    .Search {

        .results {
            max-height: calc(100vh - 45px - 38px - 64px - 1rem - 1rem - 14px - 1rem);
            overflow: scroll;
        }
    }

    .SearchBar {
        
        width: calc(408px - 12px - 12px - 150px);
        margin-bottom: 12px;
        // overflow-x: hidden;
        // border-bottom: 1px solid $border-color;
        // border-radius: 8px 8px 0 0;
        
        // box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
        position: relative;
        color: white;
        
        input {
            //width: calc(408px - 8px); // This adds default input margins on the side, 4px on each side.
            width: 95%;
            height: 24px;
            color: $light-gray;
            background-color: white; //$light-gray;
            outline: none;
            border-radius: 12px;
            padding-left: 12px;

            &::placeholder {
                color: $light-gray;
            }
        }

        .search-img {
            position: absolute;
            right: 5%;
            top: 3px;
            opacity: .3;
            transition: opacity 125ms linear;

            .good2go {
                opacity: 1;
            }
        }
    }

    .header {
        color: $gray;
    }

    .title {
        color: $title-first-color;
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-align: center;
        // order: 1;
        font-size: .65rem;
        font-family: $default-font;
        text-transform: uppercase;
        font-weight: 900;

        span {
            color: $title-span-color;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.tabs-container {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: white;
    border-radius: 6px;
    z-index: 9999;
    padding: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

.tabs-map {
    .tab {
        margin-top: 0!important;

        // h4.Work {

        // }
        // h4.Education {
        //     color: blue;
        // }
    }

    .tab:last-child {
        margin-right: 0!important;
    }
}

.legend {
    line-height: 18px;
    color: #555;
    // border-radius: 6px;
    overflow: hidden;
    // opacity: .65;//.85;
    padding-left: 4px;
    padding-top: 2px;
    position: absolute;
    background-color: rgba(255,255,255,.55);
    // left: 250px;
    // top: 8px;
    bottom: 48px;
    left: 6px;
    // height: 16px;
    z-index: 9999;
    display: block;
    flex-direction: column;
    // flex-wrap: nowrap;
    text-align: left;
    // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    // width: 128px;
    align-content: center;

    div {
        position: relative;
        // width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;

        i {
            width: 33px;
            height: 2px;
            float: left;
            // margin-right: 8px;
            border-radius: 64px;
        }

        span {
            text-transform: lowercase;
            margin-right: 8px;
            font-size: 10px;
            margin-left: 6px;
            // display: contents;
            // display: flex;
        }

        span::first-letter {
            text-transform: uppercase;
        }
    }
}


.commutes-wrapper {
    position: absolute;
    top: 8px;
    right: 12px;
    background-color: white;
    border-radius: 6px;
    z-index: 9999;
    padding: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);

    .CommuteTab {
        width: 45px;
        // text-align: center;
        margin-bottom: 4px;
        background: $gray-light;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        // color: $gray-light;
        // height: 2rem;
        cursor: pointer;
        margin-left: 0.15rem;
        margin-right: 0.15rem;
        margin-top: 0.15rem;
        padding-left: .1rem;
        padding-right: .1rem;
        padding-top: .2rem;
        padding-bottom: .2rem;
        text-align: center;
        transition: all 0.3s ease-in-out;

        &.focused {
            // background: $dark-mid-subtext!important;//$gray-opaque;
            background: $navbar-background!important;
        }

        &:hover {
            background: $gray-hover;
        }

        &:last-child {
            margin-bottom: 2px!important;
        }

        img {
            // margin-right: 6px;
            margin: auto;
            width: 18px;
        }
        h4 {
            display: table-cell;
            font-family: 'archia';
            font-size: 8.5px !important;
            font-weight: 900;
            margin-bottom: 0;
            margin-top: 0;
            vertical-align: middle;
            text-align: center;
        }

        &.Stay_home {
            color: #ff073a;
        }
        &.Drive_own_vehicle {
            color: #007bff;
        }
        &.Passenger_in_vehicle {
            color: #28a745;
        }
        &.Train {
            color: $cherry-mid;
        }
        &.Bicycle {
            color: #4b1eaa;
        }
        &.Walk_jog {
            color: #d73027;
        }
        &.Bus {
            color: #fee08b;
        }
        &.Ferry {
            color: blue;
        }
        &.Other {
            color: #6c757d;
        }

    }
}

.App {
    overflow: hidden;
    max-height: 100vh;
}

.main-wrapper {
    display: flex;
    position: relative;

    .map-wrapper {
        position: relative;
        width: 100%;
    }
}

.MapExplorer .header {
    position: absolute;
    bottom: 0;
    right: 24px;
    width: fit-content;
    text-align: right;
}

.MapExplorer .details-container-wrapper {
    // position: fixed;
    pointer-events: none;
    // width: calc(100% - 5rem);
    width: 105%;
    background-color: rgba(0,0,0,.45);
    // background-color: black;
    // left: 5rem;
    z-index: 999;
    left: 0;
    right: 0;
    margin: auto;
}

.MapExplorer .details-container {
    // position: absolute;
    
    padding-top: 1rem;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 45rem;
    margin: auto;
}

.MapExplorer .meta h2 {
    // position: fixed;
    // z-index: 999;
    display: flex;
    justify-content: space-between;
}

.MapExplorer .meta h2 div {
    // margin-right: 12px;
}

.MapExplorer .svg-parent {
    margin-top: 4.5rem;
}

.MapExplorer {
    width: 100vw!important;

    .map-stats {

        padding-top: 6px;
        padding-left: 6px;
        flex-grow: 1;

        .stats {
            pointer-events: all!important;
        }
    }

    .footnote {
        margin-top: 0!important;
    }
}

.meta {

    width: 100%;
    min-height: 82px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(255,255,255,.25);


    h2 {
        font-weight: 900;
        margin-top: 0;
        // width: calc(100% - 10rem);
        word-wrap: break-word;
        margin-left: 12px;
        margin-right: 12px;
        
        &.total {
        //   color: $brick;
            color: $blue;
        }
  
        &.home {
          color: $blue;
        }
  
        &.own-vehicle {
          color: $green;
        }
  
        &.passenger {
          color: $gray;
        }
  
        &.train {
          color: $purple;
        }
  
        &.bicycle {
          color: #d73027;
        }
  
        &.walk-or-jog {
          color: #fee08b;
        }
  
        &.school-bus {
          color: #66bd63;
        }
        &.public-bus {
            color: #66bd63;
        }
        &.ferry {
            color: blue;
        }
        &.other {
            color: grey;
        }
    }
}

.footnote {
    padding: 6px;
}