$panel-width: 408px;

.leaflet-container {
    /* height: 100vh;
    width: 100vw;
    position: fixed!important;
    left: 0;
    top: 0; */
    height: 100vh;
    width: calc(100vw - $panel-width);
    position: relative;
}

/* Hide bottom right fields */
.leaflet-control-attribution.leaflet-control {
  /* display: none; */
}

/* Position zoom controls more conveniently */
.leaflet-control-container > div:nth-child(1) {
  position: absolute;
  right: 12px; // 20px;
  bottom: 36px;
  left: inherit;
  top: inherit;
}

/* scale bar */
.leaflet-control-container > div:nth-child(3) {
  /* left: 6.5rem!important; */
  /* bottom: 6px; */
}

/* .leaflet-control-attribution leaflet-control {
  position: absolute;
  right: 50px;
  bottom: 20%;
} */



.leaflet-tile-pane {
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}