.leaflet-container {
    height: 100vh;
    width: 100vw;
    position: fixed!important;
    left: 0;
    top: 0;
}

/* Hide bottom right fields */
.leaflet-control-attribution.leaflet-control {
  display: none;
}

/* Position zoom controls more conveniently */
.leaflet-control-container {
  position: absolute;
  right: 50px;
  bottom: 20%;
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}